body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

#cont {
    position: relative;
    left: -90px;
    width: 100vw;
}

.back-btn {
    font-size: .8em;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #4040a1;
    background: #4040a1;
}

.back-btn:hover {
    background: none;
}

.info-btn {
    font-size: .8em;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #92a8d1;
    background: #92a8d1;
}

.info-btn:hover {
    background: none;
}

.danger-btn {
    font-size: .8em;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #eca1a6;
    background: #eca1a6;
}

.danger-btn:hover {
    background: none;
}

.forms {
    margin-top: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}